@import 'tailwindcss';

:root {
  --background: #ffffff;
  --background-darker: #dadada;
  --foreground: #171717;
  --background2: #e6e6e6;
  --border: #e6e6e6;

  --accent-text: #000000;
  --secondary-text: #ababab;
  --accent-bg: #ffffff;
  --page-bg: #f2f2f2;
  --secondary-bg: #e6e6e6;
  --active-nav-item: #d4d4d4;

  /* Фильтры для SVG иконок */
  --icon-filter: brightness(0) saturate(100%) invert(0%); /* черный */
  --icon-filter-back: brightness(0) saturate(100%) invert(100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010408;
    --background-darker: #0c0f15;
    --foreground: #ededed;

    --sidebar-hover: #1a1a1a;
    --sidebar-active: #252525;
    --sidebar-active-hover: #2a2a2a;
    --sidebar-divider: #2a2a2a;
    --sidebar-text-secondary: #a0a0a0;
    --sidebar-tooltip-bg: #ededed;
    --sidebar-tooltip-text: #0a0a0a;

    /* Белые иконки для темной темы */
    --icon-filter: brightness(0) saturate(100%) invert(100%);
    --icon-filter-back: brightness(0) saturate(100%) invert(0%);
  }
}

main {
  overflow-y: scroll;
}

body {
  color: var(--foreground);
  font-family: Inter;
}

.background {
  background-color: var(--accent-bg);
}
