.header {
  width: 100%;
  padding: 16px 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header nav ul {
  color: black;
  list-style: none;
  display: flex;
  gap: 32px;
}

.header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: small;
}

.headerButtons {
  border-radius: 15px;
  padding: 10px 15px;
  background: white;
  color: black;
  transition: 0.5s;
}

.headerButtons:hover {
  background: black;
  color: white;
}
