* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashGrotesk-Variable';
  src: url('/fonts/ClashGrotesk-Variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'ClashGrotesk', Arial, sans-serif;
}
